<!DOCTYPE html>
<html>
	<head>
		<title>Change Password</title>
	    <meta charset="UTF-8">
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
		<link rel="stylesheet" href="../themes/HouseControl.css" />
		<link rel="stylesheet" href="../themes/jquery.mobile.icons.min.css" />
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/UsersManagement.css">
	</head>
	<body>
		<div data-role="page" id="changepassword" data-theme="d">
		<!-- start of menu panel-->
			<div data-role="panel" id="menu_panel" data-position="right" data-display="reveal">
				<ol id="menuitems"></ol>
			</div>
		<!-- end of menu panel -->	
		
		<!-- start of header -->
		<div data-role="header">
				<h1>Change Password</h1>
				<a href="#" data-rel="back" class="ui-btn-left ui-btn ui-icon-back ui-btn-icon-notext ui-shadow ui-corner-all"  data-role="button" role="button">Back</a>
				<a href="#menu_panel" class="ui-btn ui-btn-right ui-corner-all ui-shadow ui-icon-bars ui-btn-icon-left">Menu</a>
		</div>
		
		<!-- end of header -->
	
		 <div data-role="main" class="ui-content">
			<form id="formChangePassword" class="navbar-form navbar-left ui-widget">
				<label class="control-label">Old Password:</label> 
				<input id="textBoxOldPassword" type="password" name="oldpassword" class="form-control" placeholder="Old Password" minlength="6" required/><br>
				<label class="control-label">New Password:</label> 
				<input id="textBoxNewPassword" type="password" name="newpassword" class="form-control" placeholder="New Password" minlength="6" required/><br>
				<label class="control-label">Confirm New Password:</label> 
				<input id="textBoxConfirmNewPassword" type="password" name="confirmnewpassword" class="form-control" placeholder="Confirm New Password" minlength="6" required/>
				<label class="control-label" id="labelChangePasswordInfo" hidden="true"></label><br>
				<button type="submit" class="btn btn-lg btn-primary btn-block" id="btnChangePassword">Change Password</button>
				<label class="errorMsg" id="labelChangePasswordError"></label>
			</form>
		  </div>

		<div data-role="footer">
			<h1>House Control</h1>
		</div>
			
			  <a href="#popupMessageDialog" id="popupMessage" data-rel="popup" data-position-to="window" data-transition="pop" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-icon-delete ui-btn-icon-left ui-btn-b" style='display:none;'></a>
			<div data-role="popup" id="popupMessageDialog" data-overlay-theme="b" data-theme="b" data-dismissible="false" style="max-width:300px; min-width:300px;">
			    <div data-role="header" data-theme="a">
			   	 <h1 id="popupMessagetext"></h1>
			    </div>
			    <div role="main" class="ui-content">
			       <h3 id="popupMessagesubtext" class="ui-title center"></h3>
			    <button id="buttoncontinue" type="button" class="ui-btn ui-btn-icon-right">Continue</button>
			    </div>
			</div>
		</div>	
	</body>
	    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
		<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
		<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/additional-methods.min.js"></script>
	    <script type="text/javascript" src="../js/ChangePassword.js"></script>
	   	<script type="text/javascript" src="../js/GlobalFunctions.js"></script>
</html>
<!--  -->


