<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
	<link rel="stylesheet" href="../themes/HouseControl.css" />
	<link rel="stylesheet" href="../themes/jquery.mobile.icons.min.css" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <title> Frequently Asked Questions</title>
</head>
<body>
	<div data-role="page" id="Faq" data-theme="d" data-add-back-btn="true">

	<!-- menu panel-->
	<div data-role="panel" id="menu_panel" data-position="right" data-display="reveal">
    <!-- panel content goes here -->
		<ol>
			<li><a href="Statistics.html">Statistics</a></li>
			<li><a href="Faq.html">FAQ</a></li>
			<li><a href="Login.html">Logout</a></li>
		</ol>
	</div><!-- /panel -->
	
	<div data-role="header">
		<h1>Frequently Asked Questions</h1>
		<a href="#menu_panel" class="ui-btn ui-btn-right ui-corner-all ui-shadow ui-icon-bars ui-btn-icon-left">menu</a>
	</div>

  <div data-role="main" class="ui-content">
		
<ol>
<li><a href="#question1"> first Question </a> <br>
<div id="question1"> answer to the first question </div></li> 
</li> <br>

<li><a href="#question2"> second Question </a> <br>
<div id="question1"> answer to the second question </div></li> <br>

<li><a href="#question3"> third Question </a> <br>
<div id="question1"> answer to the third question </div></li> <br>

<li><a href="#question4"> fourth Question </a> <br>
<div id="question1"> answer to the fourth question </div></li> <br>

</ol>
  </div>

  <div data-role="footer">
    <h1>HouseControl v1.1</h1>
  </div>

</div>


</body>
</html>