<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0"/>
	<link rel="stylesheet" href="../themes/HouseControl.css" />
	<link rel="stylesheet" href="../themes/jquery.mobile.icons.min.css" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
	<link rel="stylesheet" type="text/css" href="../css/Login.css"/>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <title>Login</title>
  </head>
  
  <body>
	<div data-role="page" id="Login" data-theme="d">
		<div data-role="header">
			<h1>Login</h1>
	    </div>

	<div data-role="main" class="ui-content">
		<div data-role="form" action="post">
		<input type="text" class="form-control" placeholder="Email address" required="" autofocus="">
		<input type="password" class="form-control" placeholder="Password" required=""> <br>
		<button class="btn btn-lg btn-primary btn-block" type="submit">
			Sign In
		</button>
		</div>
    </div>

	<div data-role="footer">
		<h1>HouseControl V1.1</h1>
	</div>
	</div>


  </body>
</html>
