<!---------------------------------------------------------------------------------------------->
	<!--User Registration Section -->

	<div id="registerUser" data-role="page">
		<header data-theme="b" data-role="header" class="ui-header ui-bar-b">
			<a href="#registerOptions" data-icon="home">Back</a>
			<h3>QuickJob</h3>
		</header>
		<div id="containerRegisterUser" class="ui-content">
				<form id="formRegisterUser"
					class="navbar-form navbar-left ui-widget">
					
					<div id="formGroupRegister" class="form-group">

						<label id="labelRegisterTitle" class="pageTitle">init label</label> <br>
						<label class="control-label">First Name</label> <input type="text"
							name="firstName" class="form-control" placeholder="First Name"
							id="textBoxFirstName" minlength="2" maxlengh="20" required /> <label class="control-label">Last
							Name</label> <input type="text" name="lastName" class="form-control"
							placeholder="Last Name" id="textBoxLastName" minlength="2" maxlengh="20" required/> <label
							class="control-label">Username</label> <input type="text"
							name="userName" class="form-control" placeholder="Username"
							id="textBoxUsername" minlength="2" maxlengh="20" required /> <label class="control-label">Password</label>
						<input type="password" name="password" class="form-control"
							placeholder="Password" id="textBoxPassword" minlength="6" maxlengh="12" required /> <label
							class="control-label">Email</label> <input type="email"
							name="email" class="form-control" placeholder="Email Address"
							id="textBoxEmail" required/>
						 <label class="control-label">Gender:</label>
					<div class="ui-field-contain">
						<fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
							 <input type="radio" name="gender" id="radioGenderMale"
								value="Male" checked="checked">  <label
								for="radioGenderMale">Male</label>  <input type="radio"
								name="gender" id="radioGenderFemale" value="Female" >  <label
								for="radioGenderFemale">Female</label>
						</fieldset>
					</div>

							<label
							class="control-label">Birth Date</label> <input type="date"
							name="birthDate"  data-role="date" id="birthDate" data-inline="true" required> <br> <label
							class="control-label">City</label> <select class="form-control"
							name="city" id="comboBoxCities" required>
						</select>
					</div>
					<br>
					<button type="submit" class="btn btn-default" id="btnRegister">Register</button>
				</form>
				<label id="errorMsgRegisterUser" class="errorMsg"></label>
		</div>
			<footer data-theme="b" data-role="footer" data-position="fixed"
			class="ui-footer ui-bar-b">
			<h1>
				<i>QuickJob Mobile</i>
			</h1>
		</footer>
	</div>
	<!-- ---------------------------------------------------------------------------------------- -->