<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
<link rel="stylesheet" href="../themes/jquery.mobile.icons.min.css" />
<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.css" />
<link rel="stylesheet" href="../vendor/waves/waves.min.css" />
<link rel="stylesheet" href="../css/nativedroid2.css" />
<title>House-Management(Adding rooms)</title>
</head>

<body>
	<!-- menu panel-->
	<div data-role="panel" id="menu_panel" data-theme='a' class="ui-panel"
		data-position="right">
		<!-- panel content goes here -->
		<ol>
			<li><a href="Statistics.html" data-role='button' rel="external"
				data-ajax="false">Statistics</a></li>
			<li><a href="Faq.html" data-role='button' rel="external"
				data-ajax="false">FAQ</a></li>
			<li><a href="Login.html" data-role='button' rel="external"
				data-ajax="false">Logout</a></li>
		</ol>
	</div>
	<!-- /panel -->

	<div data-role="page" id="Room_Management" class="ui-page-theme-a"
		data-add-back-btn="true">
		<div data-role="header" data-position='fixed' data-tap-toggle='false'
			data-theme='b'>
			<h1>Configure Home</h1>
			<a href="#" data-rel="back"
				class="ui-btn-left ui-btn ui-icon-back ui-btn-icon-notext ui-shadow ui-corner-all"
				data-role="button" role="button">Back</a> <a href='#menu_panel'
				data-role='button' data-icon='bars' data-iconpos='right'
				data-inline='true'></a>
		</div>

		<div data-role="main" class="ui-content">
			<a href="#AddRoomPopup" data-rel="popup"
				class="ui-btn ui-btn-inline ui-corner-all">Add Room</a>

			<div>
				<ul id="ListAllRooms">
					<!-- all rooms will be shown within this list -->
				</ul>
			</div>

			<div class="ui-grid-c"></div>

		</div>


		<div data-role="footer" >
			<h1>HouseControl v1.1</h1>
		</div>

		<!--  add room popup -->
		<div data-role="popup" id="AddRoomPopup" class="ui-content">

			<div data-role="header">
				<h1>Add Room</h1>
			</div>

			<div data-role="main" class="ui-content">

				<!--  form showing all rooms in a list -->
				<form id="formAddRoom">
					<label class="control-label">Name:</label> <input
						id="textBoxRoomName" type="text" name="name" class="form-control"
						placeholder="Enter a name" required /><br>
					<button type="submit" class="btn btn-lg btn-primary btn-block"
						id="btnSignIn">Add</button>
				</form>
			</div>

		</div>
		<!-- end of add room popup -->

		<!-- message popup -->
		<a href="#popupMessageDialog" id="popupMessage" data-rel="popup"
			data-position-to="window" data-transition="pop"
			class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-icon-delete ui-btn-icon-left ui-btn-b"
			style='display: none;'></a>
		<div data-role="popup" id="popupMessageDialog" data-overlay-theme="b"
			data-theme="b" data-dismissible="true"
			style="max-width: 300px; min-width: 300px;">
			<div data-role="header" data-theme="a">
				<h1 id="popupMessagetext"></h1>
			</div>
			<div role="main" class="ui-content">
				<h3 id="popupMessagesubtext" class="ui-title center"></h3>
				<button id="buttoncontinue" type="button"
					class="ui-btn ui-btn-icon-right">Continue</button>
			</div>

		</div>
		<!-- end of message popup -->

		<!--  add device Dialog -->
		<div data-role="popup" id="AddDeviceDialog" data-theme="b">

			<div data-role="header">
				<h1>Add Device</h1>
			</div>

			<div data-role="content" data-theme='b'>
				<form id="formAddDevice">
					<ul class="fieldlist">
						<li><label for="deviceName">enter device Name</label> <input
							id="deviceName" type="text" class="k-textbox"
							style="width: 100%;" /></li>
						<li><label for="description"> Description </label> <textarea
								id="description" class="k-textbox" style="width: 100%;"></textarea>
						</li>
						<li><label for="devices">Straight Forward</label> <select
							name="devices" id="devices" class="icon-menu">
								<option value="">Select a device</option>
								<option>LAMP</option>
								<option>TV</option>
								<option>KETTLE</option>
								<option>Water Heater</option>
								<option>Air Conditioner</option>
						</select></li>
					</ul>
					<input type="submit" value="add" />
				</form>

			</div>

		</div>
		<!-- end of add device Dialog -->


	</div>
	<!-- end of page -->
</body>

<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script
	src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script src="../js/Room_Management.js"></script>
</html>
