<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
<link rel="stylesheet" href="../themes/HouseControl.css" />
<link rel="stylesheet" href="../themes/jquery.mobile.icons.min.css" />
<link rel="stylesheet"
	href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
<title>House-Management(Adding rooms)</title>
</head>

<body>

	<div data-role="page" id="Room_Management" data-theme="d"
		data-add-back-btn="true">

		<!-- menu panel-->
		<div data-role="panel" id="menu_panel" data-position="right"
			data-display="reveal">
			<!-- panel content goes here -->
			<ol>
				<li><a href="Statistics.html" rel="external">Statistics</a></li>
				<li><a href="Faq.html" rel="external">FAQ</a></li>
				<li><a href="Login.html" rel="external">Logout</a></li>
			</ol>
		</div>
		<!-- /panel -->

		<div data-role="header">
			<h1>Configure Home</h1>
			<a href="#" data-rel="back" class="ui-btn-left ui-btn ui-icon-back ui-btn-icon-notext ui-shadow ui-corner-all"  data-role="button" role="button">Back</a>
			<a href="#menu_panel" class="ui-btn ui-btn-right ui-corner-all ui-shadow ui-icon-bars ui-btn-icon-left">menu</a>
		</div>

		<div data-role="main" class="ui-content">
			<a href="#AddRoomPopup" data-rel="popup"
				class="ui-btn ui-btn-inline ui-corner-all">Add Room</a>

			<button onclick="ShowAllRooms()">Show All Rooms</button>

			<div>
				<ul id="ListAllRooms">
					<!-- all rooms will be shown within this list -->
				</ul>
			</div>

			<div id="ActualRooms">
				<!-- actual rooms with edit/remove will be here -->
			</div>

		</div>


		<div data-role="footer">
			<h1>HouseControl v1.1</h1>
		</div>

		<!--  add room popup -->
		<div data-role="popup" id="AddRoomPopup" class="ui-content">

			<div data-role="header">
				<h1>Add Room</h1>
			</div>

			<div data-role="main" class="ui-content">

				<!--  form showing all rooms in a list -->
				<form id="formAddRoom">
					<label class="control-label">Name:</label> <input
						id="textBoxRoomName" type="text" name="name" class="form-control"
						placeholder="Enter a name" required /><br>
					<button type="submit" class="btn btn-lg btn-primary btn-block"
						id="btnSignIn">Add</button>
				</form>
			</div>

		</div>
		<!-- end of add room popup -->

		<!-- Edit Room Popup -->
		<div data-role="popup" id="EditRoomPopup" class="ui-content">

			<div data-role="header">
				<h1 id="EditRoomTitle"></h1>
				<a href="#" data-rel="back" class="ui-btn-left ui-btn ui-icon-back ui-btn-icon-notext ui-shadow ui-corner-all"  data-role="button" role="button">Back</a>
			</div>

			<div data-role="main" class="ui-content">
				<form id="formAddDeviceToRoom">
					<fieldset class="ui-field-contain">
						<label>Select Device</label> <select name="type"
							id="deviceType" data-native-menu="false">
							<option value="">Lamp</option>
							<option value="">Tv</option>
							<option value="">Air Conditioner</option>
							<option value="">Water Heater</option>
						</select>
					</fieldset>
					<input type="submit" data-inline="true" value="Submit">
				</form>
			</div>

		</div>
		<!-- edit Room popup end-->

	</div>
	<!-- end of page -->
	
	<div id="Rooms"> </div>

</body>

<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
<script src="../js/Room_Management.js"></script>
</html>
