<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
	<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
	<link rel="stylesheet" href="../themes/HouseControl.css" />
	<link rel="stylesheet" href="../themes/jquery.mobile.icons.min.css" />
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
	<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <title>Sign Up</title>
  </head>

  <body>
	<div data-role="page" id="SignUp" data-theme="d">
		<div data-role="header">
			<h1>Sign Up to HouseControl</h1>
	    </div>

	<div data-role="main" class="ui-content">
    <form>
    <label>Arduino IP</label>
    <input type="number" name="Arduino_ip" class="span3"> 	<br>
    <label>First Name</label>
    <input type="text" name="firstname" class="span3"> 	<br>
    <label>Last Name</label>
    <input type="text" name="lastname" class="span3"> 	<br>
    <label>Email Address</label>
    <input type="email" name="email" class="span3"> 	<br>
    <label>Username</label>
    <input type="text" name="username" class="span3"> 	<br>
    <label>Password</label>
    <input type="password" name="password" class="span3"> 	<br>
    <label><input type="checkbox" name="terms"> I agree with the <a href="#">Terms and Conditions</a>.</label> 	<br>
    <input type="submit" value="Sign up" class="btn btn-primary pull-center-left">
    <div class="clearfix"></div>
    </form>

    </div>

	<div data-role="footer">
		<h1>HouseControl V1.1</h1>
	</div>
	</div>


  </body>
</html>
