<!DOCTYPE html>
<html>
	<head>
		<title>User Rooms</title>
	    <meta charset="UTF-8">
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
		<link rel="stylesheet" href="../themes/HouseControl.css" />
		<link rel="stylesheet" href="../themes/jquery.mobile.icons.min.css" />
		<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" />
		<link rel="stylesheet" type="text/css" href="../css/UsersManagement.css">
	</head>
	<body>
		<div data-role="page" id="userrooms" data-theme="d">
		<!-- start of menu panel-->
			<div data-role="panel" id="menu_panel" data-position="right" data-display="reveal">
				<ol id="menuitems"></ol>
			</div>
		<!-- end of menu panel -->	
		
		<!-- start of header -->
		<div data-role="header">
				<h1>Users Rooms</h1>
				<a href="#" data-rel="back" class="ui-btn-left ui-btn ui-icon-back ui-btn-icon-notext ui-shadow ui-corner-all"  data-role="button" role="button">Back</a>
				<a href="#menu_panel" class="ui-btn ui-btn-right ui-corner-all ui-shadow ui-icon-bars ui-btn-icon-left">Menu</a>
		</div>
		
		<!-- end of header -->
	
		 <div data-role="main" class="ui-content">
		 	<div id="addroom" class="ui-btn">+ Add Room</div>
			 <div id="userstitle" class="title"></div>
			  <ul id="listofusers" data-role="listview" data-autodividers="false" data-inset="true">
			  </ul>
		  </div>

		<div data-role="footer">
			<h1>House Control</h1>
		</div>
			<a href="#popupDialog" id="popupbutton" data-rel="popup" data-position-to="window" data-transition="pop" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-icon-delete ui-btn-icon-left ui-btn-b" style='display:none;'></a>
			<div data-role="popup" id="popupDialog" data-overlay-theme="b" data-theme="b" data-dismissible="false" style="max-width:300px; min-width:300px;">
			    <div data-role="header" data-theme="a">
			   	 <h1 id="popuptext">Add Room:</h1>
			    </div>
			    <div role="main" class="ui-content">
			       <h3 id="popupsubtext" class="ui-title center">Please select a room to add:</h3>
			       <form>
						<div class="ui-field-contain">
						    <!-- <label for="select-native-1">Basic:</label>-->
						    <select name="select-native-1" id="listOfRooms">
						        <option value="0"></option>
						    </select>
						</div>
					</form>
				<button id="addButton" type="button" class="ui-btn ui-btn-icon-right ui=btn-inline">Add</button>
			    <button id="cancelButton" type="button" class="ui-btn ui-btn-icon-right">Cancel</button>
			    </div>
			</div>
			
			<a href="#popupConfirmDialog" id="popupConfirm" data-rel="popup" data-position-to="window" data-transition="pop" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-icon-delete ui-btn-icon-left ui-btn-b" style='display:none;'></a>
			<div data-role="popup" id="popupConfirmDialog" data-overlay-theme="b" data-theme="b" data-dismissible="true" style="max-width:300px; min-width:300px;">
			    <div data-role="header" data-theme="a">
			   	 <h1 id="popupConfirmtext">Disable Access</h1>
			    </div>
			    <div role="main" class="ui-content">
			       <h3 id="popupConfirmsubtext" class="ui-title center">Disable access to the room?</h3>
			    <button id="yesButton" type="button" class="ui-btn ui-btn-icon-right">Yes</button>
			    <button id="noButton" type="button" class="ui-btn ui-btn-icon-right">No</button>
			    </div>
			</div>	
			
			  <a href="#popupMessageDialog" id="popupMessage" data-rel="popup" data-position-to="window" data-transition="pop" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-icon-delete ui-btn-icon-left ui-btn-b" style='display:none;'></a>
			<div data-role="popup" id="popupMessageDialog" data-overlay-theme="b" data-theme="b" data-dismissible="true" style="max-width:300px; min-width:300px;">
			    <div data-role="header" data-theme="a">
			   	 <h1 id="popupMessagetext"></h1>
			    </div>
			    <div role="main" class="ui-content">
			       <h3 id="popupMessagesubtext" class="ui-title center"></h3>
			    <button id="buttoncontinue" type="button" class="ui-btn ui-btn-icon-right">Continue</button>
			    </div>
			</div>
		</div>	
	</body>
	    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
		<script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
		<script type="text/javascript" src="../js/UserRooms.js"></script>
		<script type="text/javascript" src="../js/GlobalFunctions.js"></script>
</html>
<!--  -->


