/*
	Author: Ran Yamin 25/07/2015
	Css for frequently asked questions page
 */

  body {
    padding-top: 120px;
    padding-bottom: 40px;
    background-color: #eee;
  }
  
  ol {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('http://cleancanvas.herokuapp.com/img/backgrounds/color-splash.jpg');
    background-repeat:repeat;
  }
  
  ol li a{
	color: white;
	font-family: "sans-serif";
	font-size: 20px;
  }
  
   ol li div{
	color: white;
	font-family: "sans-serif";
	font-size: 20px;
  }
 
 
 
 